* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color:  hsl(207, 100%, 69%);
  overflow: hidden;
}

.depth-layer {
  position: absolute;
  top: -75%;
  left: -75%;
  width: 250%;
  height: 250%;
  will-change: transform;
}

.depth-mask {
  width: 100%;
  height: 100%;
  -webkit-mask:
    linear-gradient(#fff, #fff),
    url("/mask.svg") center / var(--size) no-repeat;
  -webkit-mask-composite: subtract;

  mask:
    linear-gradient(#fff, #fff),
    url("/mask.svg") center / var(--size) no-repeat;
  mask-composite: subtract;
}

.logo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 200px;
  height: auto;
  object-fit: contain;
}

.depth-layer:nth-child(1) {
  z-index: 7;
  filter: drop-shadow(0 0 1rem hsl(221, 55%, 25%));
}

.depth-layer:nth-child(2) {
  z-index: 6;
  filter: drop-shadow(0 0 1rem hsl(221, 55%, 15%));
}

.depth-layer:nth-child(3) {
  z-index: 5;
  filter: drop-shadow(0 0 1rem hsl(221, 55%, 25%));
}

.depth-layer:nth-child(4) {
  z-index: 4;
  filter: drop-shadow(0 0 1rem hsl(221, 55%, 25%));
}

.depth-layer:nth-child(5) {
  z-index: 3;
  filter: drop-shadow(0 0 1rem hsl(221, 55%, 25%));
}

.depth-layer:nth-child(6) {
  z-index: 2;
}

.depth-layer:nth-child(1) .depth-mask {
  --size: 90%;
  background: hsl(207, 100%, 69%);
}

.depth-layer:nth-child(2) .depth-mask {
  --size: 67.5%;
  background: hsl(207, 100%, 59%);
}

.depth-layer:nth-child(3) .depth-mask {
  --size: 45%;
  background: hsl(207, 100%, 50%);
}

.depth-layer:nth-child(4) .depth-mask {
  --size: 27.5%;
  background: hsl(208, 100%, 69%);
}

.depth-layer:nth-child(5) .depth-mask {
  --size: 15%;
  background: hsl(207, 100%,80%);
}

@media (max-width: 1000px) {
  .depth-layer {
    width: 500%;
    height: 500%;
    top: -200%;
    left: -200%;
  }
}