@import "tailwindcss";

:root {
  --background: hsl(207, 100%, 48%);
  --foreground: #ffffff;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-bricolage), var(--font-dm-serif-display), sans-serif;
}


body {
  overflow-x: hidden;
}
